# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn.lock

# TypeScript
*.tsbuildinfo
*.js.map
*.d.ts
src/*.js
src/*/*.js

# Build output
# dist/

# Editor/IDE specific
.vscode/

# Operating System specific
.DS_Store
Thumbs.db
